<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyGauge.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyGauge.My.MySettings>
            <setting name="Gauge1Label" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="Gauge2Label" serializeAs="String">
                <value>GPU</value>
            </setting>
            <setting name="Gauge1Sensor" serializeAs="String">
                <value>CPU Package</value>
            </setting>
            <setting name="Gauge2Sensor" serializeAs="String">
                <value>CPU Package</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="HostName" serializeAs="String">
                <value />
            </setting>
        </MyGauge.My.MySettings>
    </userSettings>
</configuration>